@{
    ViewBag.Title = "404错误";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
<div id="p" class="easyui-panel"
        style="width:auto;height:auto;padding:10px;background:#fafafa;">
    <p>404_资源不存在</p>
</div>

