@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "My";
}
<div id="tabs" class="easyui-tabs" fit="true" border="false">
    <div title="欢迎使用" style="padding: 10px">
        <h2 style="font-size:24px;"></h2>
    </div>
</div>
