<div id="nav" class="easyui-accordion" style="width: 230px;" border="false" fit="true">
    <div title="基础管理" data-options="iconCls:'icon-sys icon'">
        <ul>
            <li>
                <div class="">
                    <a href="javascript:void(0)" rel="~/Content/UserManage" ref="12">
                        <span class="icon icon-user">&nbsp;</span>
                        <span class="nav">员工列表</span>
                    </a>
                </div>
            </li>
             <li>
                <div class="">
                    <a href="javascript:void(0)" rel="~/PagedPeoPle/PagedPeopleEnd" ref="12">
                        <span class="icon icon-user">&nbsp;</span>
                        <span class="nav">用户列表</span>
                    </a>
                </div>
            </li>
            <li>
                <div class="">
                    <a href="javascript:void(0)" rel="" ref="13">
                        <span class="icon icon-log">&nbsp;</span>
                        <span class="nav">系统日志</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div title="部门管理" data-options="iconCls:'icon-sys icon'" style="padding: 10px;">
    </div>
    <div title="财务管理" data-options="iconCls:'icon-sys icon'" style="padding: 10px;">
    </div>
</div>
